/*  blue colour:#09b1ac
    dim blue var: #09b1abcd
    black colour:#000
    Princeton Orange: #FCA311*/

/* Colors and Fonts */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*----------removing default styles----------*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "EB Garamond", "Roboto", serif;
}

body {
  min-height: 100vh;
  background-color: black;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/*----------NAVBAR STYLING---------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 20px #000;
}

/*---------logo image----------*/
.logo {
  height: 40px;
  color: white;
  margin: 7px 0;
}

/*---------nav bar----------*/
nav ul a {
  position: relative;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-left: 40px;
}

.sidebar a {
  color: #000;
}

/*---------navbar hover effect and active effect----------*/
nav ul a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 5px;
  background-color: #fca311;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

nav ul a:hover::after,
nav ul a.active::after {
  width: 100%;
  color: #fca311;
}

nav ul a:hover,
nav ul a.active {
  color: #fca311;
}

/* ----------SECTIONS STYLING---------- */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-size: 5vh;
  opacity: 1;
  transition: opacity 0.5s ease, filter 0.5s ease;
}

section.faded {
  opacity: 0.3;
  filter: blur(3px);
}

section.active {
  opacity: 1;
  filter: blur(0);
}

/*----------sidebar styling----------*/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.777);
  backdrop-filter: blur(15px);
  box-shadow: 2px 0 15px white;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar a {
  width: 100%;
  margin: 5vh 2vh;
}

.menu-button {
  display: none;
}

/*----------Home section styling----------*/
.aboutNithin {
  font-size: 4vh;
  font-weight: 500;
  height: auto;
  width: 100%;
  text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
  border-radius: 2vh;
  text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
}

.homeSection {
  display: flex;
  margin: 10vh;
  padding: 5vh;
  border-radius: 7vh;
  background: rgba(0, 0, 0, 0.8);
}

.nithinKumar {
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 2vh;
}

.profile {
  width: 40%;
  height: 60vh;
  justify-content: left;
  margin: 2vh;
  border-radius: 2vh;
  object-fit: cover;
}

.name {
  color: #fca311;
}

.namePrefix {
  font-size: 3rem;
  text-transform: none;
}

.icons {
  padding: 2vh 0 0 0;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 0px 0px 20px #000, 0px 0px 20px #000;
  font-size: 2rem;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

.icons a:hover {
  transform: scale(1.2);
}

.github {
  height: 50px;
}

.resumeLogo {
  height: 45px;
  justify-content: baseline;
}

/*----------About section styling----------*/
#ABOUT {
  display: flex;
}

.tabContainer {
  height: 80vh;
  width: 90%;
  background: rgba(0, 0, 0, 0.85);
  margin: 15vh 10vh;
  padding: 2vh 2vh 40vh 2vh;
  border-radius: 3vh;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
}

.tabs button {
  position: relative;
  font-size: 3.5vh;
  padding: 2vh 0;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  border-radius: 1vh;
}

.tabs button::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 5px;
  background-color: #fca311;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.tabs button:hover::after,
.tabs button.active::after {
  background-color: #fca311;
  cursor: pointer;
}

.tabs button:hover,
.tabs button.active {
  background-color: #fca311;
  cursor: pointer;
}

.tab-content {
  display: none;
  padding: 1vh 2vh 53vh 2vh;
}

.tab-content.active {
  display: block;
}

.accordion {
  background: none;
  color: #fca311;
  border: none;
  font-size: 4vh;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  padding: 10px;
  width: 100%;
}
.accordion:after {
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  font-weight: 900;
  margin-right: 5px;
  float: right;
  transition: transform 0.3s ease-in-out;
}
.accordion.active:after {
  transform: rotate(180deg);
}
.panel {
  max-height: 0;
  padding-left: 20px;
  font-size: 3vh;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
button {
  margin: 1vh;
}

.skillstopics {
  display: flex;
  justify-content: space-between;
}

.skillstopics p {
  margin: 2vh;
  font-weight: 900;
}

.tab-content p {
  margin: 5vh 3vh;
  font-weight: 600;
}

.tab-content p span {
  color: #fca311;
}

.row1, .row2, .row3{
  display: flex;
}

/*----------Projects section styling----------*/

#PROJECTS {
  margin: 20vh 10vh;
}
#PROJECTS h1{
  color: #fca311;
}

.swiper {
  margin: 0 20vh;
  display: flex;
  overflow: visible;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide .card {
  display: flex;
  flex-direction: column;
}

.projButtons {
  display: flex;
  width: 100vh;
}

.swiper-slide img {
  width: 100vh;
  height: 55vh;
}

.swiper-slide p {
  bottom: 40px;
  left: 0;
  width: 100vh;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2vh;
  text-align: center;
  font-size: 3vh;
}

.swiper-slide a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  margin: 0;
  width: 50%;
  font-size: 3.5vh;
  font-weight: 700;
  padding: 1vh;
  background-color: #fca311;
  color: #fff;
  border-style: solid;
  border-width: 1vh;
  border-color: #fca311;
}

.swiper-slide a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: #fca311;
}

.swiper-pagination {
  height: 10vh;
}

.pagination {
  color: white; /* Text color */
  background-color: blue; /* Background color */
}

.swiper-pagination-bullet {
  background-color: #fca311 !important;
}

/*----------Contact section styling----------*/
.contactSection {
  display: flex;
  margin: 0vh;
  padding: 5vh;
  border-radius: 3vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 80vh;
  width: 90%;
  justify-content: center;
  text-align: center;
  gap: 10vh;
}

.contactInfo,
.contactForm {
  display: flex;
  flex-direction: column;
  margin: 5vh 3vh;
}

.contactCV {
  background-color: #fca311;
  color: #fff;
  border-style: solid;
  border-width: 1vh;
  border-color: #fca21100;
  outline: none;
  font-size: 4vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.5vh 0;
  border-radius: 2vh;
  margin: 2vh 1vh;
  transition: all 0.3s ease-in-out;
}

.contactCV:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border-color: #fca311;
  border-width: 1vh;
  outline: none;
}

.contactInfo {
  justify-content: space-between;
}

.contactInfo h1 {
  color: #fca311;
  margin: 1vh;
}

.contactInfo p {
  font-size: 3.5vh;
  margin: 1vh;
}

.contactInfo .icons {
  margin: 1vh;
  transition: all 0.3s ease-in-out;
}

.contactInfo .icons a:hover {
  transform: translateY(-5px);
}

.contactForm input,
textarea {
  font-size: 2.5vh;
  padding: 2vh;
  width: 100%;
  margin: 1vh;
  background: #262626;
  color: #fff;
  border: 0;
  outline: none;
  border-radius: 1vh;
  resize: none;
}
.contactForm textarea {
  width: 100%;
  height: 25vh;
}

.contactForm button {
  background-color: #fca311;
  color: #fff;
  border-style: solid;
  border-width: 1vh;
  border-color: #fca21100;
  outline: none;
  font-size: 4vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5vh 7vh;
  border-radius: 2vh;
  margin: 2vh 1vh;
  transition: all 0.3s ease-in-out;
}

.contactForm button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border-color: #fca311;
  border-width: 1vh;
  outline: none;
}

/* ----------responsive styling for navbar----------*/
/*----------for tabs----------*/
@media (max-width: 768px) {

  .hideOnMobile {
    display: none;
  }

  /* --------home section--------- */

  .profileDetails h1 {
    font-size: 2rem;
  }
  .menu-button {
    display: block;
  }
  .homeSection {
    width: 100%;
    padding: 5px 0 0 0;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .aboutNithin{
    font-size: 1.25rem;
  }
  .profile {
    width: 65%;
    height: 270px;
  }
  .profileDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1vh 1vh 3vh;
  }
  .sidebar {
    width: 60%;
    height: 100%;
  }

  /* ---------about section-------- */

  #ABOUT{
    padding: 0 5px;
    margin: 0;
    width: 100%;
  }
  .tabContainer {
    display: block;
    margin: 10px;
    width: 100%;
    border-radius: 3vh;
  }
  .tab-content p{
    font-size: 1rem;
  }
  .accordion {
    margin: 0;
    font-size: 10px;
    cursor: pointer;
    text-align: left;
    width: 60%;
  }
  .panel p{
    font-size: 2.5vh;
    margin: 4vh 0;
    font-weight: 800;
  }
  .skillstopics {
    display: flex;
  }

  .skillstopics button{
    font-size: 17px;
  }
  .tab-content p {
    padding: 7px 0;
    margin: 0;
  }
  .tab-content p span {
    color: #fca311;
  }

  /* ---------projects section-------- */
  #PROJECTS {
    background: rgba(0, 0, 0, 0.8);
    width: 90%;
    height: 50%;
    padding: 0 3vh;
    border-radius: 2vh;
  }
  #PROJECTS h1{
    color: #fca311;
    font-size: 6vh;
    margin-right: 0;
  }
  .swiper{
    margin: 0;
  }
  .swiper-slide .card {
    display: flex;
    flex-direction: column;
  }
  .projButtons {
    width: 60vh;
  }
  .swiper-slide img {
    width: 60vh;
    height: 40vh;
  }
  .swiper-slide p {
    background: rgba(0, 0, 0, 0.9);
  }
  .card p{
    width: 60vh;
  }
  .swiper-pagination {
    display: none;
  }

  /* ---------contact section------- */

  .contactSection {
    margin: 0;
    padding: 0;
    gap: 0;
  }
  
  .contactCV {
    background-color: #fca311;
    color: #fff;
    border-style: solid;
    border-width: 1vh;
    border-color: #fca21100;
    outline: none;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1vh 0;
    border-radius: 2vh;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .contactCV:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border-color: #fca311;
    border-width: 1vh;
    outline: none;
  }
  
  .contactInfo {
    justify-content: space-between;
  }
  
  .contactInfo h1 {
    color: #fca311;
    margin: 1vh;
  }
  
  .contactInfo p {
    font-size: 3.5vh;
    margin: 0.5vh;
  }
  
  .contactInfo .icons {
    margin: 1vh;
    transition: all 0.3s ease-in-out;
  }
  
  .contactInfo .icons a:hover {
    transform: translateY(-5px);
  }
  
  .contactForm input,
  textarea {
    font-size: 2.5vh;
    padding: 2vh;
    width: 100%;
    margin: 1vh;
    background: #262626;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 1vh;
    resize: none;
  }
  
  .contactForm textarea {
    width: 100%;
    height: 25vh;
  }
  
  .contactForm button {
    background-color: #fca311;
    color: #fff;
    border-style: solid;
    border-width: 1vh;
    border-color: #fca21100;
    outline: none;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5vh 7vh;
    border-radius: 2vh;
    margin: 2vh 1vh;
    transition: all 0.3s ease-in-out;
  }
  
  .contactForm button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border-color: #fca311;
    border-width: 1vh;
    outline: none;
  }

}
/*-----------for mobiles----------*/
@media (max-width: 550px) {
  .hideOnMobile {
    display: none;
  }
   /* --------home section--------- */

  .profileDetails h1,
  .namePrefix{
    font-size: 2.5rem;
  }
  .name{
    font-size: 3rem;
  }
  
  .aboutNithin{
    font-size: 1.3rem;
  }
  .profile {
    width: 85%;
    height: 240px;
  }
  .homeSection icons {
    font-size: 1.5rem;
  }
  .sidebar {
    width: 100%;
    height: 100%;
  }

  /* ---------about section-------- */

  .tabs button{
    font-size: 0.7rem;
    font-weight: 800;
  }
  .tabContainer {
    margin: 0;
    height: 115vh;
    width: 100%;
    border-radius: 3vh;
  }
  .tab-content p{
    font-size: 1rem;
  }
  .accordion {
    margin: 0;
    font-size: 10px;
    cursor: pointer;
    text-align: left;
    width: 50%;
  }
  .panel p{
    font-size: 2.5vh;
    font-weight: 800;
  }
  .skillstopics {
    display: flex;
    flex-direction: column;
  }

  .row1 , .row2, .row3{
    display: flex;
    gap: 7vh;
  }
  

  .skillstopics button{
    font-size: 17px;
  }
  .tab-content p {
    margin: 0;
  }
  .tab-content p span {
    color: #fca311;
  }

  /* ---------projects section-------- */
  #PROJECTS {
    display: block;
    justify-content: center;
    align-items: center;
  }
  #PROJECTS {
    background: rgba(0, 0, 0, 0);
    width: 90%;
    height: 50%;
    padding: 0 0;
  }
  #PROJECTS h1{
    color: #fca311;
    font-size: 6vh;
    margin-right: 0;
    text-shadow: #000;
  }
  .swiper {
    margin: 0 10vh;
    display: flex;
    justify-content: center;
    overflow: visible;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px !important;
  }
  .swiper {
    display: flex;
    justify-content: center;  
    align-items: center;   
    margin: 0 20vh 0 0;          
    max-width: 100%;          
    overflow: hidden;       
  }
  
  .swiper-wrapper {
    display: flex;
    justify-content: center;  
  }

  .swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }

  .swiper-slide .card {
    display: flex;
    flex-direction: column;
  }

  .projButtons {
    display: flex;
    width: 170%;
  }

  .swiper-slide img {
    width: 170%;
    height: 30vh;
    object-fit: cover;
  }

  .swiper-slide p {
    bottom: 30px;
    left: 0;
    width: 170%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.5vh;
    text-align: center;
    font-size: 2.5vh;
  }

  .swiper-slide a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin: 0;
    width: 50%;
    font-size: 3vh;
    font-weight: 700;
    padding: 0.8vh;
    background-color: #fca311;
    color: #fff;
    border-style: solid;
    border-width: 0.8vh;
    border-color: #fca311;
  }

  .swiper-slide a:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #fca311;
  }
  .pagination {
    color: white; 
    background-color: blue; 
  }

  .swiper-pagination-bullet {
    background-color: #fca311 !important;
  }
  .swiper-pagination {
    display: none;
  }
  /* ---------contact section------- */

  .contactSection {
    height: 115vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .contactCV {
    font-size: 4vh;
    padding: 1vh 0;
  }
  .contactInfo h1 {
    font-size: 2rem;
    color: #fca311;
    margin: 1vh;
  }
  .contactInfo p {
    font-size: 1rem;
    margin: 0.5vh 0;
  }

  
}