/*  blue colour:#09b1ac
    dim blue var: #09b1abcd
    black colour:#000*/
*{
    /* removing margins and padding */
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: JetBrains Mono, Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background-color: black;
}

img{
    margin: 5px 25px;
    height: 45px;
}

nav{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

nav a:active{
    color: #09b1ac;
    transition: 0.3s;
}

nav a:hover{
    color: #09b1ac;
    transition: 0.3s;
}

nav a::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 3px;
    background-color: #09b1ac;
    transition: all 0.5s ease;
}

nav a:hover::after{
    width: 100%;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.108);
    color: white;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menuicon{
    display: none;
}


nav svg {
    transition: fill 0.3s ease;
}

nav svg:hover {
    fill: #09b1ac;
}


section{
    color: white;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

@media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menuicon{
        display: block;
    }
}
@media(max-width:450px){
    .sidebar{
        width: 100%;
    }
}






section{
    font-size: 100px;
}